/*font*/
@font-face{
	font-family: BaiJamjuree-Medium;
	src:  url(../fonts/Bai_Jamjuree/BaiJamjuree-Medium.ttf);
}

@font-face{
	font-family: BaiJamjuree-Bold;
	src:  url(../fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
}


*{
	font-family: BaiJamjuree-Medium;
}

h1{
	font-family: BaiJamjuree-Bold;
	font-size: 40px;
	font-weight: 900;
}

/*bottom margin for div universal class*/
.div_bottom{
	margin-bottom: 10px;
}

/*body*/
body{
	margin: 0;
}

#container{
	overflow-x: hidden;
}

.uni-padding{
	padding: 0 13%;
}

/*header*/

header{
	background-image: url("../images/About Us/About_us-BannerEmpty.jpg");
	padding-top: 15px;
}

/*navbar*/
.nav-link{
	color: #c7c6c5 !important;
}
#contact-us-button{
	background-color: #160b01;
	color: white;
	border: 2px #c5344c solid;
	border-radius: 8px;
	padding: 8px 30px 8px 30px;
	font-size: 18px;
	margin-top: 15px;
	float: right;
}

.nav-link{
	margin-left: 20px;
}

#contact_us_list{
	display: none;
}

header h1{
	color: white;
}

header p{
	color: #f5f4f4;
}

#header_slider{
	margin-top: 30px;
}
#header_slider h1{
	margin-top: 40px;
}
#header_slider img{

}

	
/*fourth-section*/
#fourth-section{
	padding-top: 100px;
	padding-bottom: 100px;
}

#fourth-section h1{
	color: #c4344d;
}

#fourth-section h3{
	font-weight: 300;
	font-size: 30px;
	margin: 0;
	color: #444444;
}
#small_p{
	font-size: 19px !important;
	color: #444444;
	margin-top: -14px;
}

#fourth-section p{
	font-size: 16px;
	color: #808080;
}
.accept{
	padding: 0 0 0 0;
}
#fourth-section-read-more{
	color: #c4344d;
	padding: 15px 40px 15px 0px;
	margin-top: 25px;
	font-size: 18px !important;
	font-weight: 600;
}


/*seventh-section*/
#seventh-section{
	background-image: url("../images/About Us/about-banne-2.jpg");
	/*padding-top: 80px;*/
	/*padding-bottom: 100px;*/
	height: 490px;
}
#seventh-section{
 	padding-top: 50px;
 	color: white;
}

#seventh-section h1{
 	font-size: 38px;
 		
}

#seventh-section p{
 	font-size: 18px;
 	color: white;	
}

#second_p_seven{
	font-size: 15px !important;
	line-height: 28px;
	color: #f8f0ec !important;
}


#seventh-section img{
 	margin-left: -110%;
 		
}

/*eight section*/
#eight-section{
	padding-top: 80px;
	padding-bottom: 100px;
	color: #666666;
}

/*nine section*/
#nine-section{
	background-image: url("../images/Assets/design Bg.png");
	padding-bottom: 100px;
}

#nine-section h1{
	font-size: 50px;
}

#nine-section p{
	font-size: 18px;
	color: #666666;
}

.nine-section_box{
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	border:1px solid #ECECEC;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.01);
}

.nine-section_box::placeholder {
    color: #cdcdcd;/* Firefox */
}

.nine-section_box::-ms-input-placeholder { /* Internet Explorer 10-11 */
 	color: #cdcdcd;
}

.nine-section_box::-ms-input-placeholder { /* Microsoft Edge */
    color: #cdcdcd;
}
.nine-section_message{ 
	padding-bottom: 203px; 
}

#nine-section-read-more{
	color: white;
	background-image: linear-gradient(to bottom right, #c5344c, #cb8847);
	border: 1px #e3a6b1 solid;
	border-radius: 6px;
	padding: 15px 40px 15px 40px;
	margin-top: 25px;
}

/*sixth-section*/
#sixth-section{
	background-image: url("../images/Logo Design & Branding (Services)/Logo Design & Branding-banner 3.jpg");
	margin-top: 30px;
	color: white;
	padding-bottom: 120px;

}

#sixth-section .row{
	padding-top: 130px;
}

#sixth-section a{
	background-color: #bf344b;
	text-decoration: none;
	color: white;
	padding: 15px 25px 15px 25px;
	border-radius: 6px;
	font-size: 14px;
}

#talk{
	color: #cc8b47;
	font-size: 50px;
}

#eleven-section{
	margin-top: 50px;
	margin-bottom: 50px;
}

#eleven-section h1{
	color: #be344b;
	font-size: 25px;
}
#eleven-section p{
	color: #666666;
	font-size: 14px;
}

#twelve-section{
	margin-top: 100px;
	margin-bottom: 50px;
	color: #666666;
}

#twelve-section h1{
	color: #2f2f2f;
}

#twelve-section p{
	margin-top: -12px;
}

#twelve-section a{
	background-color: #bf344b;
	padding: 10px 50px 10px 50px;
	border: 0;
	color: white;
	border-radius: 10px;
	margin: 50px auto 50px auto;
}

#thirtheen-section{
	margin-top: 100px;
	margin-bottom: 50px;
	color: #333333;
}

#thirtheen-section h1{
	margin-top: 40px;
	font-size: 20px;
}

.shadow_box{
	background: #fff;
	padding: 60px 10px 30px 10px;
	border-radius: 10px;
	border:1px solid #ECECEC;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.01);
	margin-bottom: 10px;
	margin-left: 10px;
}


/*ten section*/
#ten-section{
	background-image: url("../images/Assets/footer.jpg");
	padding-top: 50px;
	color: #c4c3c2;
}

#ten-section h1{
	color: #bd3249;
	font-size: 19px;
}

#ten-section p{
	font-size: 13px;
}

#ten-section ul {
  list-style-type: none;
  padding: 0;
  font-size: 13px;
}
#ten-section ul li{
  padding: 5px;
}
#ten-section ul a{
  color: #c4c3c2;
  text-decoration: none;
}

.footer{
	border:1px #2e241d solid;
	padding: 25px 0px 25px 0px;
	border-left-style: hidden;
	border-right-style: hidden;
}

.footer h1{
	color: white !important;
}

#copyright{
	font-size: px ;
	padding: 25px 0px 25px 0px;
}

#copyright p{
	font-size: 15px ;
}


/*media query for mobile*/

@media only screen and (max-width: 768px) {
  #contact_us_list {
    display: block;
    background-color: #160b01;
	color: white;
	border: 2px #c5344c solid;
	border-radius: 8px;
	font-size: 18px;
  }
  #contact_us_list_button{
  	display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .img_responsive{
  	max-width: 100%;
  	height: auto;
  }
  #seventh-section img{
 			margin-left: -10%;
 			display: inline-block;
		}
		#seventh-section{
			height: auto;
		}
}

/*youtube play button*/
	.play-btn {
	  width: 94px;
	  height: 94px;
	  background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
	  border-radius: 50%;
	  display: block;
	  position: relative;
	  overflow: hidden;
	}
	.play-btn::after {
	  content: "";
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  transform: translateX(-40%) translateY(-50%);
	  width: 0;
	  height: 0;
	  border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent;
	  border-left: 15px solid #fff;
	  z-index: 100;
	  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	.play-btn:before {
	  content: "";
	  position: absolute;
	  width: 120px;
	  height: 120px;
	  -webkit-animation-delay: 0s;
	  animation-delay: 0s;
	  -webkit-animation: pulsate-btn 2s;
	  animation: pulsate-btn 2s;
	  -webkit-animation-direction: forwards;
	  animation-direction: forwards;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-timing-function: steps;
	  animation-timing-function: steps;
	  opacity: 1;
	  border-radius: 50%;
	  border: 2px solid rgba(163, 163, 163, 0.4);
	  top: -15%;
	  left: -15%;
	  background: rgba(198, 16, 0, 0);
	}
	.play-btn:hover::after {
	  border-left: 15px solid #f82249;
	  transform: scale(20);
	}
	.play-btn:hover::before {
	  content: "";
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  transform: translateX(-40%) translateY(-50%);
	  width: 0;
	  height: 0;
	  border: none;
	  border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent;
	  border-left: 15px solid #fff;
	  z-index: 200;
	  -webkit-animation: none;
	  animation: none;
	  border-radius: 0;
	}

	.button_center{
		position: relative;
	}
	.button_center #mList {
	  position: absolute;
	  top: 53%;
	  left: 48.6%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  cursor: pointer;
	}

