/*font*/
@font-face{
	font-family: BaiJamjuree-Medium;
	src:  url(../fonts/Bai_Jamjuree/BaiJamjuree-Medium.ttf);
}

@font-face{
	font-family: BaiJamjuree-Bold;
	src:  url(../fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
}


*{
	font-family: BaiJamjuree-Medium;
}

h1{
	font-family: BaiJamjuree-Bold;
	font-size: 40px;
	font-weight: 900;
}

h3{
	font-family: BaiJamjuree-Bold;
}

/*bottom margin for div universal class*/
.div_bottom{
	margin-bottom: 10px;
}

/*body*/
body{
	margin: 0;
}

#container{
	overflow-x: hidden;
}

.uni-padding{
	padding: 0 13%;
}

/*header*/

header{
	background-image: url("../images/Logo Design & Branding (Services)/Logo Design & Branding (Services) banner.jpg");
	padding-top: 15px;
	background-repeat: no-repeat;
  background-size: 100% 480px;
}



#contact-us-button{
	background-color: #160b01;
	color: white;
	border: 2px #c5344c solid;
	border-radius: 8px;
	padding: 8px 30px 8px 30px;
	font-size: 18px;
	margin-top: 15px;
	float: right;
}

.nav-link{
	margin-left: 20px;
}

#contact_us_list{
	display: none;
}

/*third section*/
#third-section{
	color: #333333;
	padding-top: 60px;
	padding-bottom: 10px;
}

#third-section a{
	text-decoration: none;
	color: black;
}
#third-section p{
	color: #666666;
	font-size: 18px;
}
.third-section-p{
	font-weight: 600;
	margin-top: 17px;
}

.mobile_width{
	cursor: zoom-in;
}

/*fourth-section*/
#fourth-section{
	padding-top: 10px;
	margin-bottom: 100px;

}

#fourth-section h1{
	font-size: 42px;
	font-weight: 900;
}

#fourth-section h3{
	font-weight: 900;
}


#fourth-section p{
	font-size: 17px;
	color: #666666;
}

#fourth-section img{
	margin-top: -50px;
	padding-left: 80px;
}

.accept{
	padding: 0 0 0 0;
}



/*fifth-section*/
#fifth-section{
	background-image: url("../images/Logo Design & Branding (Services)/Logo Design & Branding image banner.png");
	color: #ffffff;
	padding-top: 40px;
	padding-bottom: 100px;
	background-size: cover;

}

.background_top{
	background-color: #ffffff;
  	padding-top: 40px;

}

.background_top p{
	color: #333333;
}

#fifth-section img{
	margin-bottom: 10px;
}

#fifth-section .row{
	margin-bottom: 45px;
}

#fith_section_first{
	border-right: 2px solid #bb334b;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#fith_section_first img{
	margin-top: -7px;
}

#fith_section_second{
	border-right: 2px solid #bb334b;
}

#fith_section_third{
	border-right: 2px solid #bb334b;
}

#fith_section_third img{
	margin-top: -8px;
}

#fith_section_fourth{
	border-right: 2px solid #bb334b;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#fith_section_fourth img{
	margin-top: -8px;
}

#fifth-section_let_talk{
	background-color: #cc8b47;
	color: white;
	border: 0;
	padding: 12px 45px 12px 45px;
	border-radius: 10px;
}

/*sixth-section*/
#sixth-section{
	background-image: url("../images/Logo Design & Branding (Services)/Logo Design & Branding-banner 3.jpg");
	
	color: white;
	padding-bottom: 100px;

}

#sixth-section .row{
	padding-top: 130px;
}

#sixth-section a{
	background-color: #bf344b;
	text-decoration: none;
	color: white;
	padding: 15px 25px 15px 25px;
	border-radius: 6px;
	font-size: 14px;
}

#talk{
	color: #cc8b47;
	font-size: 50px;
}

/*ten section*/
#ten-section{
	background-image: url("../images/Assets/footer.jpg");
	padding-top: 50px;
	color: #c4c3c2;
}

#ten-section h1{
	color: #bd3249;
	font-size: 19px;
}

#ten-section p{
	font-size: 13px;
}

#ten-section ul {
  list-style-type: none;
  padding: 0;
  font-size: 13px;
}
#ten-section ul li{
  padding: 5px;
}
#ten-section ul a{
  color: #c4c3c2;
  text-decoration: none;
}

.footer{
	border:1px #2e241d solid;
	padding: 25px 0px 25px 0px;
	border-left-style: hidden;
	border-right-style: hidden;
}

.footer h1{
	color: white !important;
}

#copyright{
	font-size: px ;
	padding: 25px 0px 25px 0px;
}

#copyright p{
	font-size: 15px ;
}


/*image zoom*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: zoom-out;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 55%;
   /* max-width: 50%;*/
}


/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

	/* 100% Image Width on Smaller Screens */
	@media only screen and (max-width: 700px){
	    .modal-content {
	        width: 100%;
	    }
	}

	/*media query for mobile*/

	@media only screen and (max-width: 768px) {

			header{
			  background-size: 100% 625px;
			}

		  #contact_us_list {
		    display: block;
		    background-color: #160b01;
				color: white;
				border: 2px #c5344c solid;
				border-radius: 8px;
				font-size: 18px;
		  }
		  #contact_us_list_button{
		  	display: none;
		  }
		  .mobile_width{
		  	width: 100%;
		  }

		  /*fourth section media query*/
		  #fourth-section{
		  	padding: 0 13%;
		  }

		  #fourth-section img{
		  	width: 100%;
		  }
		 /* fifth section media query*/
		 #fifth-section{
		 		background-color: #bf344b;
		 		padding-bottom: 0px;

		 }
		  #fith_section_first{
				border-bottom: 2px solid #bb334b;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				border-bottom-left-radius: 0px;
			}

			#fith_section_second{
				border-bottom: 2px solid #bb334b;
			}

			#fith_section_third{
				border-bottom: 2px solid #bb334b;
			}

			#fith_section_fourth{
				border-top-right-radius: 0px;
				border-bottom-right-radius: 25px;
				border-bottom-left-radius: 25px;
			}

			#fifth-section_let_talk{
				margin-bottom: 50px;
			}

			/*sixth-section media query*/
			#sixth-section{
				margin-top: -5px;
				background-repeat:no-repeat;
				background-size:contain;
				background-position:center;
				width: 100%;
				padding-bottom: 14px;
				background-color: #150b02;

			}

			#sixth-section .row{
				padding-top: 5px;
			}

			#sixth-section h1{
				font-size: 28px;
			}
			#sixth-section br {
	        display: none;
	    }
			#sixth-section a{
				padding: 8px 15px 8px 15px;
				font-size: 12px;
			}

			#talk{
				font-size: 38px;
			}

	}


