a { transition: all 0.4s ease-in-out 0s; display: inline-block; cursor: pointer; }
a:hover { color: rgb(225, 142, 37); text-decoration: none; }
span { display: inline-block; }
a { text-decoration: none; }
.btn-hover { position: relative; overflow: hidden; z-index: 0; }
.btn-hover span 
        { 
            position: absolute; 
            display: block; 
            width: 0px; 
            height: 0px; 
            border-radius: 50%; 
            transition: width 0.4s ease-in-out 0s, height 0.4s ease-in-out 0s; transform: translate(-50%, -50%); 
            z-index: -1; background: #cb8847; 
        }
.btn-hover:hover { color: rgb(255, 255, 255); }
.btn-hover:hover span { width: 225%; height: 562.5px; }
a.btn-banner  {
          /*  border-radius: 10px; 
            background-color: #c5344c; 
            height: 63px; 
            text-align: center; 
            line-height: 63px; 
            font-size: 18px; 
            color: rgb(255, 255, 255);*/ 
           /* font-weight: 900; 
            padding: 0px 89px; */
        }
a.btn-banner:hover { transform: scale(1.15); }

.parallax {
  /* The image used */
  background-image: url('../images/rectangle_624_copy.png');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

  background-position-x: right;
  background-position-y: center;
}

.rightward{
  
  transform: translateX(100%);
  opacity: 0;
  animation: slide-in-anim 1.8s ease-out forwards;
}

@keyframes slide-in-anim {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(6%);
  }
  100% {
    opacity: 1;
    transform: translateX(5%);
  }
}


.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 1.5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 1.5s ease-in 1 normal forwards;
       -o-animation: reveal 1.5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 1.5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
       -o-animation-delay: 0;
          animation-delay: 0;
}

.animate-second {
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate-third {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
}

.animate-fourth {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1.5s;
}


@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}