/*font*/
@font-face{
	font-family: BaiJamjuree-Medium;
	src:  url(../fonts/Bai_Jamjuree/BaiJamjuree-Medium.ttf);
}

@font-face{
	font-family: BaiJamjuree-Bold;
	src:  url(../fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
}


*{
	font-family: BaiJamjuree-Medium;
}

h1{
	font-family: BaiJamjuree-Bold;
	font-size: 40px;
	font-weight: 900;
}

/*bottom margin for div universal class*/
.div_bottom{
	margin-bottom: 10px;
}

/*body*/
body{
	margin: 0;
}

#container{
	overflow-x: hidden;
}

.uni-padding{
	padding: 0 13%;
}

/*header*/

header{
	background-image: url("../images/Assets/main banner.jpg");
	padding-top: 15px;
}

/*navbar*/
.nav-link{
	color: #c7c6c5 !important;
}
#contact-us-button{
	background-color: #160b01;
	color: white;
	border: 2px #c5344c solid;
	border-radius: 8px;
	padding: 8px 30px 8px 30px;
	font-size: 18px;
	margin-top: 15px;
	float: right;
}

.nav-link{
	margin-left: 20px;
}

#contact_us_list{
	display: none;
}

/*third section*/
#third-section{
	background-image: url("../images/Assets/second banner.jpg");
	color: white;
	padding-top: 130px;
	padding-bottom: 100px;
	margin-top: -120px;
}
#third-section a{
	text-decoration: none;
	color: white;
}
#third-section p{
	color: #eeeeee;
}
.third-section-p{
	font-weight: 600;
	margin-top: 15px;
}

.hover_div{
	transition: transform .5s;
}

.hover_div:hover {
  -ms-transform: scale(1.35); /* IE 9 */
  -webkit-transform: scale(1.35); /* Safari 3-8 */
  transform: scale(1.35); 
}

/*fourth-section*/
#fourth-section{
	padding-top: 80px;
	padding-bottom: 100px;
}
#fourth-section p{
	font-size: 15px;
}
.accept{
	padding: 0 0 0 0;
}
#fourth-section-read-more{
	color: white;
	background-image: linear-gradient(to bottom right, #c5344c, #cb8847);
	border: 0px;
	border-radius: 6px;
	padding: 15px 40px 15px 40px;
	margin-top: 25px;
}

/*fifth-section*/
#fifth-section{
	background-image: url("../images/Assets/3rd banner.jpg");
	padding-top: 100px;
	/*padding-bottom: 250px;*/
}

/*sixth-section*/
#sixth-section{
	padding-top: 80px;
	padding-bottom: 100px;
}

/*seventh-section*/
#seventh-section{
	background-image: url("../images/Assets/4rth banner.jpg");
	/*padding-top: 80px;*/
	/*padding-bottom: 100px;*/
	background-repeat: no-repeat;
}
#seventh-text-div{
 	padding-left: 14%;
 	padding-top: 50px;
 	color: white;
}

#seventh-text-div h1{
 	font-size: 48px;
 		
}

#seventh-text-div p{
 	font-size: 22px;
 	color: #f4e1e3;
 		
}

#seventh-text-div input[type=text]{
 	background: #c44c60;
    border: 1px white solid;
    padding: 12px;
    border-radius: 8px;
    color: white;
    opacity: 0.6;
    border-right-style: hidden;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height : 56px;
    width: 100%;
 		
}

::placeholder {
  color: white;/* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

#seven-section-read-more{
	color: white;
	background-image: linear-gradient(to bottom right, #c5344c, #cb8847);
	border: 1px #e3a6b1 solid;
	border-radius: 6px;
	padding: 15px 13% 15px 13%;
	border-left-style: hidden;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px
}

.seventh-section-social-icon{
	border: 1px white solid;
	padding: 8px;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #d77182;
}

#seventh-section-social-icon-first{
	margin-left: 0;
}

/*eight section*/
#eight-section{
	padding-top: 80px;
	padding-bottom: 100px;
	color: #666666;
}

/*nine section*/
#nine-section{
	background-image: url("../images/Assets/design Bg.png");
	padding-bottom: 100px;
}

#nine-section h1{
	font-size: 50px;
}

#nine-section p{
	font-size: 18px;
	color: #666666;
}

.nine-section_box{
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	border:1px solid #ECECEC;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.01);
}

.nine-section_box::placeholder {
    color: #cdcdcd;/* Firefox */
}

.nine-section_box::-ms-input-placeholder { /* Internet Explorer 10-11 */
 	color: #cdcdcd;
}

.nine-section_box::-ms-input-placeholder { /* Microsoft Edge */
    color: #cdcdcd;
}
.nine-section_message{ 
	padding-bottom: 203px; 
}

#nine-section-read-more{
	color: white;
	background-image: linear-gradient(to bottom right, #c5344c, #cb8847);
	border: 1px #e3a6b1 solid;
	border-radius: 6px;
	padding: 15px 40px 15px 40px;
	margin-top: 25px;
}

/*ten section*/
#ten-section{
	background-image: url("../images/Assets/footer.jpg");
	padding-top: 50px;
	color: #c4c3c2;
}

#ten-section h1{
	color: #bd3249;
	font-size: 19px;
}

#ten-section p{
	font-size: 13px;
}

#ten-section ul {
  list-style-type: none;
  padding: 0;
  font-size: 13px;
}
#ten-section ul li{
  padding: 5px;
}
#ten-section ul a{
  color: #c4c3c2;
  text-decoration: none;
}

.footer{
	border:1px #2e241d solid;
	padding: 25px 0px 25px 0px;
	border-left-style: hidden;
	border-right-style: hidden;
}

.footer h1{
	color: white !important;
}

#copyright{
	font-size: px ;
	padding: 25px 0px 25px 0px;
}

#copyright p{
	font-size: 15px ;
}




